.Rewards {
    --growcart-font-size: 12px;
    --growcart-header-text-color: #ffffff;
    --growcart-header-background: #343a40;
    --growcart-spacing-top: 24px;
    --growcart-spacing-right: 24px;
    --growcart-spacing-bottom: 24px;
    --growcart-spacing-left: 24px;
    --growcart-text-color: #ffffff;
    --growcart-background-color: #343a40;
    --growcart-icon-color: #ffffff;
    --growcart-icon-background: #495057;
    --growcart-active-icon-color: #ffffff;
    --growcart-active-icon-background: #198754;
    --growcart-progress-color: rgba(var(--color-button),var(--alpha-button-background));
    --growcart-progress-background-color: #adb5bd;

    padding: var(--growcart-spacing-top) var(--growcart-spacing-right) var(--growcart-spacing-bottom) var(--growcart-spacing-left);
    width: 100%;
    font-size: var(--growcart-font-size);
    background-color: var(--growcart-background-color);
    color: var(--growcart-text-color);

    &__list {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 4px;

        ::-webkit-scrollbar {
            height: 1px;
        }

        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        ::-webkit-scrollbar-thumb {
            background: #888;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        ul {
            display: flex;
            justify-content: space-between;
            width: 100%;
            list-style: none;
            margin: 0;
            padding-left: 0;
            gap: 4px;

            li {
                display: inline-flex;
                align-items: center;
                gap: 4px;
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
    }

    &__progress {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .spend,
        .amount {
            font-weight: bold;
        }

        .progress {
            margin-bottom: 4px;
        }
    }

    &__progress-wrap {
        width: 100%;
    }

    &__list-title {
        margin: 0;
        font-size: $font-size-base;
        font-weight: bold;
        text-transform: uppercase;
    }

    &__icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        text-align: center;
        color: var(--growcart-icon-color);
        background-color: var(--growcart-icon-background);

        svg {
            width: 16px;
        }
    }

    .availed {
        .Rewards__icon {
            color: var(--growcart-active-icon-color);
            background-color: var(--growcart-active-icon-background);
        }

        .Rewards__text {
            font-weight: bold;
        }
    }

    .checkout-button {
        width: 100%;
    }

    @include media-breakpoint-down(sm) {
        &__list {
            flex-wrap: wrap;
            margin-bottom: 0.5rem;
        }

        &__title {
            width: 100%;
            margin-bottom: 0.5rem;
        }
    }
}

.progress {
    display: flex;
    height: 8px;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: var(--gradient-background);
    border: 1px solid var(--growcart-progress-color);
    border-radius: 10px;

    div.progress__bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        background-color: var(--growcart-progress-color);
        transition: width 0.6s ease;
    }
}