.growcarthq__toggler {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 32px;
    bottom: 32px;
    width: 64px;
    height: 64px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
    box-shadow: $box-shadow;
    background-color: $black;
    color: $white;


    &-badge {
        position: absolute;
        right: 0px;
        top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.7rem;
        width: 1.7rem;
        border-radius: 100%;
        font-size: .9rem;
        line-height: calc(1 + .1 / var(--font-body-scale));
        background-color: rgba(var(--color-button), 1);
        color: rgba(var(--color-button-text), 1);
    }
}