<div id="growcarthq"></div>
{% schema %}
  {
    "name": "Growcart",
    "target": "body",
    "stylesheet": "main.css",
    "javascript": "growcart.js",
    "templates": ["index", "product", "collection", "list-collections"]
  }
{% endschema %}
